
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --PrimaryColor: #2A124C;
    --SecondaryColor: #ED2390;
    --WhiteColor: #fff;
    --pink-color: #ED2390;
    --move-color: #2A124C;
    --white-color: #fff;
} */

/*Header Style Start*/
/* .header {
    box-shadow: 0px 3px 6px #00000029;
}

.header a {
    position: relative;
}

.header .fa-bars {
    color: #fff;
    font-size: 35px;
    border: none !important;
}

.header .fa-bars:focus {
    border: none !important;
}

.header .navbar {
    background-color: var(--PrimaryColor) !important;
}

.header .logo {
    height: 40px;
    margin-left: 0;
}

.header .navbar a {
    color: var(--WhiteColor) !important;
    font-weight: 500;
}

.header .navbar .active {
    color: var(--SecondaryColor) !important;
}

.header .navbar-toggler:focus {
    box-shadow: none;
} */

/*Header Style End*/

/*Home Style Start*/
/* .home {
    background-color: var(--PrimaryColor);
    width: 100%;
    overflow: hidden;
    
}

.home h2 {
    font-weight: bold;
    color: var(--WhiteColor);
}

.home img {
    width: 100%;
    height: 100%;
}

.home .text {
    color: #ED2390;
    font-size: 22px;
    font-weight: 500;
}

.home .btn {
    width: 200px;
    height: 40px;
    background-color: #FFFFFF;
    color: rgb(29, 29, 29);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(247, 242, 242, 0.4) inset;
    z-index: 1;
    position: relative;
}

.home .btn::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s all ease-in-out;
    border-radius: 10px;
    background-image: linear-gradient(to right, #361350, #D92189);
    box-shadow: 0 3px 5px rgba(167, 167, 167, 0.4) inset;
    border: none;

}

.home .btn:hover::before {
    width: 100%;
    border-radius: 10px;
}

.home .btn:hover {
    background-color: rgb(234, 233, 233) !important;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
}

.home img{
    width: 100%;
    height: 100%;
} */

/* .home .img {
    position: relative;
}

.home img {
    width: 80%;
    height: 100%;
    position: absolute;
    transition: 1s ease-in-out;
    opacity: 1;
}

.home .img2 {
    opacity: 0;
} */

/* .home .img:hover .img1{
    opacity: 0;
    transition: 1s ease-in-out;
    transform: rotateY(-180deg);
}
.home .img:hover .img2{
    opacity: 1;
    transform: rotateY(-180deg);
    transition: 1s ease-in-out;
} */
/*Home Style End*/

/*Service Style Start*/
/* .services {
    overflow: hidden;
    
}

.services .title {
    font-size: 40px;
    font-weight: bold;
    color: var(--PrimaryColor);
}

.services .card-body {
    border: 1px solid var(--PrimaryColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    position: relative;
    height: 250px;
}

.services .card {
    border: none;
}

.services img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.services i {
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--PrimaryColor);
}

.services .fa-film {
    font-size: 42px;
}

.services .fa-facebook-f,
.services .fa-linkedin-in,
.services .fa-youtube,
.services .fa-twitter,
.services .fa-instagram {
    font-size: 18px;
    color: var(--WhiteColor);
    background-color: var(--PrimaryColor);
    width: 45px;
    height: 45px;
    line-height: 2.5;
    font-weight: 500;
    text-align: center;
    border-radius: 50%;
}

.services .card-title {
    font-size: 20px;
    color: var(--PrimaryColor);
    font-weight: 500;
}

.services .card-text {
    color: var(--PrimaryColor);
    font-size: 18px;
}

.services .card-body::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s all ease-in-out;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(167, 167, 167, 0.4) inset;
    border: none;

}

.services .web::before {
    background-color: var(--SecondaryColor);
}

.services .social::before {
    background-color: #B072B0;
}

.services .content::before {
    background-color: #8CD4E2;
}

.services .motion::before {
    background-color: #FFCD05;
}

.services .design::before {
    background-color: var(--PrimaryColor);
}

.services .card-body:hover::before {
    width: 100%;
    border-radius: 10px;
    border: none;
}

.services .card-body:hover {
    border: 1px solid rgb(235, 235, 235);
}

.services .card-body:hover .card-title,
.services .card-body:hover .card-text {
    color: var(--WhiteColor);
}

.services .card-body:hover i {
    color: var(--WhiteColor);
}

.services .card-body:hover .fa-facebook-f,
.services .card-body:hover .fa-linkedin-in,
.services .card-body:hover .fa-youtube,
.services .card-body:hover .fa-twitter,
.services .card-body:hover .fa-instagram {
    background-color: var(--WhiteColor);
    color: #B072B0;
}

.services .row {
    position: relative;
}

.overlay-web,
.overlay-social,
.overlay-create,
.overlay-motion,
.overlay-design {
    background-color: #ED2390;
    width: 0;
    height: 0;
    position: absolute;
    left: -10px;
    top: 0;
    z-index: 10;
    transition: 1s ease-in-out;
    display: none;

}

.overlay-social {
    background-color: #B072B0;
}

.overlay-create {
    background-color: #8CD4E2;
}

.overlay-motion {
    background-color: #FFCD05;
}

.overlay-design {
    background-color: #2A124C;
}

.overlay-web #close-web,
.overlay-social #close-social,
.overlay-create #close-create,
.overlay-motion #close-motion,
.overlay-design #close-design {
    cursor: pointer;
    font-size: 22px;
    color: #2A124C;
    background-color: #fff;
    border-radius: 10px;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 1.9;
}

.overlay-web #close-web:hover,
.overlay-social #close-social:hover,
.overlay-create #close-create:hover,
.overlay-motion #close-motion:hover,
.overlay-design #close-design:hover {
    transform: rotate(-180deg);
    color: #D92189;
}

.overlay-web .fa-globe,
.overlay-create .fa-file-pen,
.overlay-motion .fa-film,
.overlay-design .fa-paintbrush {
    color: #fff;
    font-size: 80px !important;
}

.overlay-social .fa-facebook-f,
.overlay-social .fa-linkedin-in,
.overlay-social .fa-youtube,
.overlay-social .fa-twitter,
.overlay-social .fa-instagram {
    color: #B072B0;
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    font-size: 25px;

}

.overlay-web .title,
.overlay-social .title,
.overlay-create .title,
.overlay-motion .title,
.overlay-design .title {
    font-size: 30px;
    color: #fff;
}

.overlay-web .text,
.overlay-social .text,
.overlay-create .text,
.overlay-motion .text,
.overlay-design .text {
    font-size: 18px;
    line-height: 2;
} */

/*Service Style End*/

/*About US Style Start*/
/* .about_us {
    background-color: var(--PrimaryColor);
    color: var(--WhiteColor);
    border: 1px solid #fff;
    overflow: hidden;
    

}

.about_us .title {
    font-size: 40px;
    font-weight: bold;
    
}

.about_us p {
    line-height: 2.2;
} */

/*About US Style End*/


/* @media screen and (min-width:0) {
    .home img {
        display: none;
    }
    .home .home-slider{
        display: none;
    }

    .header .logo {
        width: 120px;
    }

    .home {
        height: 95vh;
        display: flex;
        align-items: center;
    }

    .home h2 {
        font-size: 90px;
    }

    .about_us img {
        width: 100%;
        height: 100%;
        margin-top: 5px;
    }

    .showoverlay {
        cursor: pointer;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        transition: 1s ease-in-out;
        border-radius: 20px;

    }

    .hideoverlay {
        position: absolute;
        width: 0;
        height: 0;
        display: none;
        transition: 1s ease-in-out;
    }

    .card-icons {
        width: 100% !important;
    }

    .header a.active::after {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        background-color: #D92189;
        bottom: -18px;
        left: 0;
    }
    .back-to-top{
        display: none;
    }
}

@media screen and (min-width:772px) {
    .home {
        height: 95vh;
        display: flex;
        align-items: center;
    }

    .home h2 {
        font-size: 90px;
    }
}

@media screen and (min-width:992px) {
    .home img {
        display: block;
    }
    .home .home-slider{
        display: block;
    }

    .showoverlay {
        cursor: pointer;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        transition: 1s ease-in-out;
        border-radius: 20px;

    }

    .hideoverlay {
        position: absolute;
        width: 0;
        height: 0;
        display: none;
        transition: 1s ease-in-out;
    }

    .card-icons {
        width: 60% !important;
    }

    .header a.active::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #D92189;
        bottom: -15px;
        left: 0;
    }
    .back-to-top{
        display: block;
    }

}

@media screen and (min-width:1200px) {
    .header .logo {
        width: 200px;
    }

    .about_us img {
        width: 100%;
        height: 80%;
        margin-top: 30px;
    }

    .overlay-content {
        width: 70% !important;
    }
}

@media screen and (min-width:1220px) {
    .overlay-content {
        width: 70% !important;
    }
} */

/* Our Team */
/* .our_team{
    overflow: hidden;
    z-index: -1;
}
.our_team .text{
    font-weight: 400;
}

.our_team h2 {
    color: var(--PrimaryColor);
   
}


.our_team .owl-carousel .card {
    border: 2px solid var(--move-color);
    border-radius: 1rem;
    height: 400px;
}
.our_team .owl-carousel .card:hover {
    background: #2A124C;
    color: #fff;
    border: 1px solid #ccc;
    transition: 0.5s ease-in-out;

}
.our_team .owl-carousel .card:hover h2 {

    color: #FFF;


}
.our_team .owl-carousel .body {
    position: relative;
    bottom: 17%;
}

.our_team .owl-carousel .owl-stage-outer {
    padding-top: 7rem;
}

.our_team .owl-carousel .owl-item img {
    position: relative;
    width: 40%;
    left: 30%;
}
.our_team .owl-carousel .card{
    height: 345px;
}
.our_team .owl-carousel .owl-nav button.owl-next,
.our_team .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    color: var(--PrimaryColor);

}

.our_team .owl-carousel .owl-nav button.owl-next:hover,
.our_team .owl-carousel .owl-nav button.owl-prev:hover {
    background: transparent;
    color: var(--pink-color);
}

.our_team .owl-carousel .owl-nav button.owl-next {
    right: -4%;
}

.our_team .owl-carousel .owl-nav button.owl-prev {
    left: -4%;
}

.our_team .owl-theme .owl-dots {
    margin: 2rem;

}

.our_team .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 2rem;
} */

/* Our Products */
/* .products {
    background-color: var(--move-color);
    overflow: hidden;
}

.products .title {
    color: var(--white-color);
}

.products video {
    width: 90%;
    padding-top: 5rem;
} */

/* Contact */
/* .contact{
    overflow: hidden;
}
.contact h2, 
.contact p {
    color: var(--PrimaryColor);
}

.contact .container {
    padding: 45px;
}

.contact .star {
    color: red;
}

.contact .input-group {
    width: 50%;
}

.contact input:focus,
.contact textarea:focus {
    border-color: var(--pink-color);
    box-shadow: none;
}

.contact .input-group option {
    background: var(--pink-color);
    color: var(--white-color);
}

.contact .form-select:focus {
    box-shadow: none;
    border-color: var(--pink-color);
}

.contact .d-grid {
    padding-top: 4rem;
}

.contact .btn {
    background: var(--move-color);
    color: var(--white-color);
    padding: 10px;
}

.contact .btn:hover {
    background: var(--move-color);
    color: var(--white-color);
}

@media (min-width: 1024px) {
    .products .video {
        display: flex;
        justify-content: end;
    }
} */

/* Footer */
/* footer {
    background: var(--move-color);
    overflow: hidden;
}

footer .main {
    border-right: 1px solid rgba(255,255 ,255 , 0.1);
    height: 330px;
    margin: 0 1rem;
    width: 80%;
}

footer img {
    width: 50%;
    padding-top: 5rem;
}

footer .social-media {
    padding: 0;
    margin-top: 30px;
    display: flex;
}

footer .social-media li {
    list-style: none;
}

footer .social-media li a {
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
}

footer .social-media li a:hover {
    color: var(--pink-color);
}

footer .links h2 {
    color: var(--white-color);
}

footer .links ul {
    padding: 0;
}

footer .links ul li {
    list-style: none;
    padding-top: 10px;
}

footer .links ul li a {
    color: var(--WhiteColor);
    text-decoration: none;
    padding-top: 10px;
}

footer .links ul li a:hover {
    color: var(--pink-color);
}

footer .contactus h2 {
    color: var(--white-color);
}

footer .contactus span {
    color: var(--white-color);
    padding-top: 10px;
}

footer .contactus .phone {
    color: var(--white-color);
    text-decoration: none;
}

footer .contactus a {
    color: var(--pink-color);
}

footer .copyright {
   font-size: 14px;
   margin-top: 20px;
   
}
footer .email{
    text-decoration: none;
}
footer .email:hover{
    color: var(--SecondaryColor) !important;
}

@media (max-width: 991px) {
    footer .row {
        margin: 0;
    }

    footer .main {
        border-style: none;
        margin: 0;
        height: 230px;
    }

    footer img {
        width: auto;
    }
}

@media (max-width: 767px) {
    footer .copyright {
        text-align: start;
    }
    .contact .container{
        padding: 20px !important;
    }
} */

/*-------------------------------
# Back to top button
----------------------------------*/
/* .back-to-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1;
}

.back-to-top img {
    width: 50px;
    height: 50px;
    transition: 1s ease-out;
}

.back-to-top img:hover {
    transform: scale(1.2);
    transition: 1s ease-out;
    
}
.whatsApp_icon{
    position: fixed;
    left: 50px;
    z-index: 10;
   

}
.whatsApp_icon img{
    width: 50px;
    height: 50px;
    transition: 2s ease-in-out;
    display: none;
    
}
@media (min-width: 0){
    .whatsApp_icon{
        top: 83%;
    }
}
@media (min-width: 992px){
    .whatsApp_icon{
        top: 88%;
    }
} */






.header .fa-bars,.header .fa-bars:focus{border:none!important}.header a,.home .btn,.services .row{position:relative}.about_us,.contact,.home,.our_team,.products,.services,footer{overflow:hidden}*{padding:0;margin:0;box-sizing:border-box}:root{--PrimaryColor:#2A124C;--SecondaryColor:#ED2390;--WhiteColor:#fff;--pink-color:#ED2390;--move-color:#2A124C;--white-color:#fff}.header{box-shadow:0 3px 6px #00000029}.header .fa-bars{color:#fff;font-size:35px}.header .navbar{background-color:var(--PrimaryColor)!important}.header .logo{height:40px;margin-left:0}.header .navbar a{color:var(--WhiteColor)!important;font-weight:500}.header .navbar .active,footer .email:hover{color:var(--SecondaryColor)!important}.header .navbar-toggler:focus{box-shadow:none}.home .btn::before,.services .card-body::before{content:"";height:100%;left:0;z-index:-1;box-shadow:0 3px 5px rgba(167,167,167,.4) inset;top:0;transition:.5s ease-in-out;position:absolute}.home{background-color:var(--PrimaryColor);width:100%}.home h2{font-weight:700;color:var(--WhiteColor)}.home .text{color:#ed2390;font-size:22px;font-weight:500}.home .btn{width:200px;height:40px;background-color:#fff;color:#1d1d1d;border:none;border-radius:10px;box-shadow:0 0 10px rgba(247,242,242,.4) inset;z-index:1}.services .title,.services i{font-size:40px;color:var(--PrimaryColor)}.home .btn::before{width:0;border-radius:10px;background-image:linear-gradient(to right,#361350,#d92189);border:none}.home .btn:hover::before{width:100%;border-radius:10px}.home .btn:hover{background-color:#eae9e9!important;border-radius:10px;font-weight:500;color:#fff}.home img{width:100%;height:100%}.services .title{font-weight:700}.about_us,.services .card-body:hover .card-text,.services .card-body:hover .card-title,.services .card-body:hover i,footer .links ul li a{color:var(--WhiteColor)}.services .card-body{border:1px solid var(--PrimaryColor);border-radius:10px;display:flex;flex-direction:column;align-items:center;justify-content:center;text-align:center;z-index:1;position:relative;height:250px}.services .card{border:none}.services img{width:50px;height:50px;border-radius:50%}.services i{margin-bottom:20px}.services .fa-film{font-size:42px}.services .fa-facebook-f,.services .fa-instagram,.services .fa-linkedin-in,.services .fa-twitter,.services .fa-youtube{font-size:18px;color:var(--WhiteColor);background-color:var(--PrimaryColor);width:45px;height:45px;line-height:2.5;font-weight:500;text-align:center;border-radius:50%}.contact h2,.contact p,.our_team h2,.services .card-text,.services .card-title{color:var(--PrimaryColor)}.services .card-title{font-size:20px;font-weight:500}.services .card-text{font-size:18px}.services .card-body::before{width:0;border-radius:10px;border:none}.services .web::before{background-color:var(--SecondaryColor)}.overlay-social,.services .social::before{background-color:#b072b0}.overlay-create,.services .content::before{background-color:#8cd4e2}.overlay-motion,.services .motion::before{background-color:#ffcd05}.services .design::before{background-color:var(--PrimaryColor)}.services .card-body:hover::before{width:100%;border-radius:10px;border:none}.services .card-body:hover{border:1px solid #ebebeb}.services .card-body:hover .fa-facebook-f,.services .card-body:hover .fa-instagram,.services .card-body:hover .fa-linkedin-in,.services .card-body:hover .fa-twitter,.services .card-body:hover .fa-youtube{background-color:var(--WhiteColor);color:#b072b0}.overlay-create,.overlay-design,.overlay-motion,.overlay-social,.overlay-web{background-color:#ed2390;width:0;height:0;position:absolute;left:-10px;top:0;z-index:10;transition:1s ease-in-out;display:none}.overlay-design{background-color:#2a124c}.overlay-create #close-create,.overlay-design #close-design,.overlay-motion #close-motion,.overlay-social #close-social,.overlay-web #close-web{cursor:pointer;font-size:22px;color:#2a124c;background-color:#fff;border-radius:10px;width:50px;height:40px;text-align:center;line-height:1.9}.overlay-create #close-create:hover,.overlay-design #close-design:hover,.overlay-motion #close-motion:hover,.overlay-social #close-social:hover,.overlay-web #close-web:hover{transform:rotate(-180deg);color:#d92189}.overlay-create .fa-file-pen,.overlay-design .fa-paintbrush,.overlay-motion .fa-film,.overlay-web .fa-globe{color:#fff;font-size:80px!important}.overlay-social .fa-facebook-f,.overlay-social .fa-instagram,.overlay-social .fa-linkedin-in,.overlay-social .fa-twitter,.overlay-social .fa-youtube{color:#b072b0;background-color:#fff;width:70px;height:70px;border-radius:50%;text-align:center;line-height:3;font-size:25px}.contact .btn,.contact .btn:hover,footer{background:var(--move-color)}.overlay-create .title,.overlay-design .title,.overlay-motion .title,.overlay-social .title,.overlay-web .title{font-size:30px;color:#fff}.overlay-create .text,.overlay-design .text,.overlay-motion .text,.overlay-social .text,.overlay-web .text{font-size:18px;line-height:2}.about_us{background-color:var(--PrimaryColor);border:1px solid #fff}.about_us .title{font-size:40px;font-weight:700}.about_us p{line-height:2.2}@media screen and (min-width:0){.back-to-top,.home .home-slider,.home img{display:none}.header .logo{width:120px}.home{height:95vh;display:flex;align-items:center}.hideoverlay,.showoverlay{display:none;transition:1s ease-in-out;position:absolute}.home h2{font-size:90px}.about_us img{width:100%;height:100%;margin-top:5px}.showoverlay{cursor:pointer;left:0;width:100%;height:100%;border-radius:20px}.hideoverlay{width:0;height:0}.card-icons{width:100%!important}.header a.active::after{content:"";position:absolute;height:0;width:0;background-color:#d92189;bottom:-18px;left:0}}@media screen and (min-width:772px){.home{height:95vh;display:flex;align-items:center}.home h2{font-size:90px}}@media screen and (min-width:992px){.back-to-top,.home .home-slider,.home img,.showoverlay{display:block}.hideoverlay,.showoverlay{transition:1s ease-in-out;position:absolute}.showoverlay{cursor:pointer;left:0;width:100%;height:100%;border-radius:20px}.hideoverlay{width:0;height:0;display:none}.card-icons{width:60%!important}.header a.active::after{content:"";position:absolute;height:2px;width:100%;background-color:#d92189;bottom:-15px;left:0}}@media screen and (min-width:1200px){.header .logo{width:200px}.about_us img{width:100%;height:80%;margin-top:30px}.overlay-content{width:70%!important}}@media screen and (min-width:1220px){.overlay-content{width:70%!important}}.our_team{z-index:-1}.our_team .text{font-weight:400}.our_team .owl-carousel .card{border:2px solid var(--move-color);border-radius:1rem;height:345px}.contact .form-select:focus,.contact input:focus,.contact textarea:focus{box-shadow:none;border-color:var(--pink-color)}.our_team .owl-carousel .card:hover{background:#2a124c;color:#fff;border:1px solid #ccc;transition:.5s ease-in-out}.our_team .owl-carousel .card:hover h2{color:#fff}.our_team .owl-carousel .body{position:relative;bottom:17%}.our_team .owl-carousel .owl-stage-outer{padding-top:7rem}.our_team .owl-carousel .owl-item img{position:relative;width:40%;left:30%}.our_team .owl-carousel .owl-nav button.owl-next,.our_team .owl-carousel .owl-nav button.owl-prev{position:absolute;top:50%;transform:translateY(-50%);font-size:4rem;color:var(--PrimaryColor)}.our_team .owl-carousel .owl-nav button.owl-next:hover,.our_team .owl-carousel .owl-nav button.owl-prev:hover{background:0 0;color:var(--pink-color)}.our_team .owl-carousel .owl-nav button.owl-next{right:-4%}.our_team .owl-carousel .owl-nav button.owl-prev{left:-4%}.our_team .owl-theme .owl-dots{margin:2rem}.our_team .owl-theme .owl-nav.disabled+.owl-dots{margin-top:2rem}.products{background-color:var(--move-color)}.products .title,footer .contactus h2,footer .links h2{color:var(--white-color)}.products video{width:90%;padding-top:5rem}.contact .container{padding:45px}.contact .star{color:red}.contact .input-group{width:50%}.contact .input-group option{background:var(--pink-color);color:var(--white-color)}.contact .d-grid{padding-top:4rem}.contact .btn{color:var(--white-color);padding:10px}.contact .btn:hover{color:var(--white-color)}@media (min-width:1024px){.products .video{display:flex;justify-content:end}}footer .main{border-right:1px solid rgba(255,255 ,255 ,.1);height:330px;margin:0 1rem;width:80%}footer img{width:50%;padding-top:5rem}footer .social-media{padding:0;margin-top:30px;display:flex}footer .social-media li{list-style:none}footer .social-media li a{display:inline-block;color:var(--white-color);text-decoration:none}footer .contactus a,footer .links ul li a:hover,footer .social-media li a:hover{color:var(--pink-color)}footer .links ul{padding:0}footer .links ul li{list-style:none;padding-top:10px}footer .links ul li a{text-decoration:none;padding-top:10px}footer .contactus span{color:var(--white-color);padding-top:10px}footer .contactus .phone{color:var(--white-color);text-decoration:none}footer .copyright{font-size:14px;margin-top:20px}footer .email{text-decoration:none}@media (max-width:991px){footer .row{margin:0}footer .main{border-style:none;margin:0;height:230px}footer img{width:auto}}@media (max-width:767px){footer .copyright{text-align:start}.contact .container{padding:20px!important}}.back-to-top{position:fixed;right:50px;bottom:50px;z-index:1}.back-to-top img{width:50px;height:50px;transition:1s ease-out}.back-to-top img:hover{transform:scale(1.2);transition:1s ease-out}.whatsApp_icon{position:fixed;left:50px;z-index:10}.whatsApp_icon img{width:50px;height:50px;transition:2s ease-in-out;display:none}@media (min-width:0){.whatsApp_icon{top:83%}}@media (min-width:992px){.whatsApp_icon{top:88%}}






